[submodule "deps/libbpf/libbpf"]
	path = deps/libbpf/libbpf
	url = git@github.com:libbpf/libbpf.git
[submodule "deps/bpftools/bpftools"]
	path = deps/bpftools/bpftools
	url = git@github.com:libbpf/bpftool.git
[submodule "deps/jaeger/jaeger-idl"]
	path = deps/jaeger/jaeger-idl
	url = git@github.com:jaegertracing/jaeger-idl.git
[submodule "deps/cjson/cJSON"]
	path = deps/cjson/cJSON
	url = git@github.com:DaveGamble/cJSON.git
