[submodule "deps/libbpf/libbpf"]
	path = deps/libbpf/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "deps/bpftools/bpftools"]
	path = deps/bpftools/bpftools
	url = https://github.com/libbpf/bpftool.git
[submodule "deps/jaeger/jaeger-idl"]
	path = deps/jaeger/jaeger-idl
	url = https://github.com/jaegertracing/jaeger-idl.git
[submodule "deps/cjson/cJSON"]
	path = deps/cjson/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "application-demos/Train-Ticket/train-ticket"]
	path = application-demos/Train-Ticket/train-ticket
	url = https://github.com/FudanSELab/train-ticket.git
[submodule "application-demos/Train-Ticket/train-ticket-auto-query"]
	path = application-demos/Train-Ticket/train-ticket-auto-query
	url = https://github.com/FudanSELab/train-ticket-auto-query.git
[submodule "application-demos/DeathStarBench"]
	path = application-demos/DeathStarBench
	url = https://github.com/delimitrou/DeathStarBench.git
