apiVersion: batch/v1
kind: Job
metadata:
  name: {{ job_name }}
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      containers:
      - name: main
        image: sealos.hub:5000/{{ docker_image }}
      restartPolicy: Never